@(item: Item)
@main {
	<div>
		<h1>@item.title</h1>
		<div>
			<span>Host : </span>
			<span>@item.host</span>
		</div>
		<div>
			<span>URL : </span>
			<span>
				<a href="@item.url">@item.url</a>
			</span>
		</div>
		<div>
			<span>Category : </span>
			<span>@item.category</span>
		</div>
		<div>
			<span>Subcategory : </span>
			<span>@item.subcategory</span>
		</div>
		<div>
			<span>Price : </span>
			<span>@item.price</span>
		</div>
		<div>
			<span>Features : </span>
			@for(feature <- item.features) {
				<div>
  					<span>@feature._1</span><span>@feature._2</span>
  				</div>
			}
			
		</div>
	</div>
}