@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}



a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    margin: 0;
    min-height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Texta", "Helvetica Neue", helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #7a7d81;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

a {
    text-decoration: none;
    color: #4dd5b0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}

a:hover {
    color: #29ad89
}

a:active {
    outline: none
}

img {
    border: none;
    display: block
}

hr {
    height: 1px;
    background-color: #e7e9ea;
    border: none
}

h1 {
    display: none
}

h4 {
    color: #3a3a47;
    font-size: 26px;
    margin: 20px 0 10px 0
}

p {
    line-height: 1.4em
}

section {
    max-width: 1150px;
    margin: 0 auto
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 0;
    text-align: left;
    background-color: #fff;
    background-color: rgba(165,234,215,0.5);
    z-index: 9;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s
}

#header.over {
    -moz-box-shadow: 0 10px 90px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 10px 90px rgba(0,0,0,0.1);
    box-shadow: 0 10px 90px rgba(0,0,0,0.1)
}

#header a {
    float: right;
    margin-top: 6px;
    margin-right: 25px;
    font-size: 19px;
    font-family: Playfair Display;
    color: #3a3a47
}

#header a:after {
    content: "";
    display: block;
    margin: 8px 8px 0 8px;
    border-bottom: 1px solid #4dd5b0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}

#header a:hover:after {
    margin-left: 0;
    margin-right: 0;
    border-bottom-color: #7550c8
}

#header #badge {
    float: left;
    margin: 0px 0 0 25px;
    width: 50px;
    height: 46px
}

#header #badge svg {
    width: 100%;
    height: 100%
}

#heading {
    position: relative;
    padding: 115px 0 0 0;
    max-width: inherit;
    line-height: 1.3em;
    background: #E3EAFF;
    height: 1000px;
}

#heading h2 {
    font-size: 18px
}

#heading .meta {
    margin: 0;
    padding: 30px 10px;
    font-size: 20px;
    background-color: #f6f6f1;
    line-height: 1.5em;
    z-index: 3;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#heading .meta span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    margin: 6px 20px
}

#heading .meta span:first-of-type {
    color: #3a3a47
}

#heading .meta a {
    color: #9ba0a6;
    border-bottom: 1px solid rgba(155,160,166,0.2)
}

#heading .meta a:hover {
    color: #3a3a47
}

#logo {
    max-width: 460px;
    margin: 120px auto 20px auto;
    width: 100%;
    padding: 0 40px;
    text-align: center;
    font-family: Pacifico;
}

#logo > span.name {
	color: #4C4C4C;
	font-size: 60px;
}

#logo .desc {
	padding-top: 5px;
    position: relative;
    left: 64px;
}

#play {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    margin: 60px auto
}

#play:hover svg path {
    fill: #7550c8
}

#play:active {
    -moz-transform: scale3d(.95, .95, .95);
    -webkit-transform: scale3d(.95, .95, .95);
    transform: scale3d(.95, .95, .95)
}

footer {
    margin: 0 auto;
    padding: 0px 0 25px 0;
    border-top: 1px solid #f2f2f2;
    background: #616161;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
}

footer img {
    fill: #3a3a47
}

footer span {
    display: block;
    margin: 30px 0 0 0
}

footer span.past a {
    position: relative;
    color: #3a3a47
}

footer span.past a:hover {
    color: #4dd5b0
}

footer span.small {
    font-size: 14px
}