@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

@-webkit-keyframes collage {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -moz-transform: translate3d(-1800px, 0, 0);
        -webkit-transform: translate3d(-1800px, 0, 0);
        transform: translate3d(-1800px, 0, 0)
    }
}

@-moz-keyframes collage {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -moz-transform: translate3d(-1800px, 0, 0);
        -webkit-transform: translate3d(-1800px, 0, 0);
        transform: translate3d(-1800px, 0, 0)
    }
}

@-ms-keyframes collage {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -moz-transform: translate3d(-1800px, 0, 0);
        -webkit-transform: translate3d(-1800px, 0, 0);
        transform: translate3d(-1800px, 0, 0)
    }
}

@keyframes collage {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -moz-transform: translate3d(-1800px, 0, 0);
        -webkit-transform: translate3d(-1800px, 0, 0);
        transform: translate3d(-1800px, 0, 0)
    }
}

@font-face {
    font-family: 'Texta';
    src: url("../fonts/3054E1_0_0.eot");
    src: url("../fonts/3054E1_0_0.eot?#iefix") format("embedded-opentype"),url("../fonts/3054E1_0_0.woff2") format("woff2"),url("../fonts/3054E1_0_0.woff") format("woff")
}

@font-face {
    font-family: 'Lodgecode';
    src: url("../fonts/lodgecode.eot");
    src: url("../fonts/lodgecode.eot?#iefix") format("embedded-opentype"),url("../fonts/lodgecode.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    margin: 0;
    min-height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Texta", "Helvetica Neue", helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #7a7d81;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

a {
    text-decoration: none;
    color: #4dd5b0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}

a:hover {
    color: #29ad89
}

a:active {
    outline: none
}

.btn {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    padding: 24px 40px;
    color: #fff;
    font-size: 24px;
    font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #4dd5b0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.btn:hover {
    color: #fff;
    background-color: #7550c8
}

.btn:active {
    -moz-transform: scale3d(.95, .95, .95);
    -webkit-transform: scale3d(.95, .95, .95);
    transform: scale3d(.95, .95, .95)
}

.btn.outline {
    background-color: transparent;
    border: 2px solid #3a3a47;
    color: #3a3a47;
    font-size: 16px;
    padding: 18px 30px
}

.btn.outline:hover {
    color: #4dd5b0;
    border-color: #4dd5b0
}

.btn.alone {
    margin: 120px auto
}

img {
    border: none;
    display: block
}

hr {
    height: 1px;
    background-color: #e7e9ea;
    border: none
}

h1 {
    display: none
}

h4 {
    color: #3a3a47;
    font-size: 26px;
    margin: 20px 0 10px 0
}

p {
    line-height: 1.4em
}

section {
    max-width: 1150px;
    margin: 0 auto
}

.shoutout {
    display: table;
    width: 100%;
    color: #fff;
    -moz-box-shadow: 0 10px 100px rgba(122,125,129,0.4);
    -webkit-box-shadow: 0 10px 100px rgba(122,125,129,0.4);
    box-shadow: 0 10px 100px rgba(122,125,129,0.4);
    transform: translate3d(0, 0, 0)
}

.shoutout .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 392px;
    background: transparent url(../images/shoutouts.jpg) no-repeat center top;
    -moz-background-size: 1150px 1960px;
    -o-background-size: 1150px 1960px;
    -webkit-background-size: 1150px 1960px;
    background-size: 1150px 1960px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.shoutout .text h3 {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    padding: 23px 0;
    margin: 22px auto;
    min-width: 44%;
    font-size: 50px;
    color: #fff;
    font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
    text-transform: uppercase;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.4)
}

.shoutout .text p {
    padding: 0 20px
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 0;
    text-align: left;
    background-color: #fff;
    background-color: rgba(165,234,215,0.5);
    z-index: 9;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s
}

#header.over {
    -moz-box-shadow: 0 10px 90px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 10px 90px rgba(0,0,0,0.1);
    box-shadow: 0 10px 90px rgba(0,0,0,0.1)
}

#header a {
    float: right;
    margin-top: 6px;
    margin-right: 25px;
    font-size: 19px;
    font-family: Playfair Display;
    color: #3a3a47
}

#header a:after {
    content: "";
    display: block;
    margin: 8px 8px 0 8px;
    border-bottom: 1px solid #4dd5b0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}

#header a:hover:after {
    margin-left: 0;
    margin-right: 0;
    border-bottom-color: #7550c8
}

#header #badge {
    float: left;
    margin: 0px 0 0 25px;
    width: 50px;
    height: 46px
}

#header #badge svg {
    width: 100%;
    height: 100%
}

#heading {
    position: relative;
    padding: 115px 0 0 0;
    max-width: inherit;
    line-height: 1.3em;
    color: #9ba0a6;
    background: #E3EAFF;
    height: 1000px;
}

#heading h2 {
    font-size: 18px
}

#heading .meta {
    margin: 0;
    padding: 30px 10px;
    font-size: 20px;
    background-color: #f6f6f1;
    line-height: 1.5em;
    z-index: 3;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#heading .meta span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    margin: 6px 20px
}

#heading .meta span:first-of-type {
    color: #3a3a47
}

#heading .meta a {
    color: #9ba0a6;
    border-bottom: 1px solid rgba(155,160,166,0.2)
}

#heading .meta a:hover {
    color: #3a3a47
}

#logo {
    max-width: 460px;
    margin: 0 auto 20px auto;
    width: 100%;
    padding: 0 40px;
    text-align: center
}

#play {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    margin: 60px auto
}

#play:hover svg path {
    fill: #7550c8
}

#play:active {
    -moz-transform: scale3d(.95, .95, .95);
    -webkit-transform: scale3d(.95, .95, .95);
    transform: scale3d(.95, .95, .95)
}

#collage {
    position: relative;
    height: 500px;
    width: 100%;
    max-width: inherit;
    overflow: hidden
}

#collage .photos {
    position: absolute;
    height: 100%;
    width: 5400px;
    background: transparent url(../images/collage.jpg) repeat-x left top;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: collage 60s linear infinite;
    -moz-animation: collage 60s linear infinite;
    -ms-animation: collage 60s linear infinite;
    animation: collage 60s linear infinite
}

#collage .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -36px;
    background-color: rgba(77,213,176,0.9)
}

#collage .btn:hover {
    color: #fff;
    background-color: #7550c8
}

.title {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    font-size: 34px;
    margin: 80px auto;
    padding: 0 10px;
    color: #3a3a47
}

.title span {
    white-space: nowrap
}

.title:after {
    content: "";
    display: block;
    margin: 8px 20px 0 20px;
    border-bottom: 1px solid #e7e9ea
}

.people {
    max-width: 1050px
}

.people .person {
    position: relative;
    display: block;
    margin: 0;
    max-width: 100%;
    max-height: 590px;
    text-align: left;
    background-position: top left;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    -moz-box-shadow: 0 10px 150px rgba(122,125,129,0.4);
    -webkit-box-shadow: 0 10px 150px rgba(122,125,129,0.4);
    box-shadow: 0 10px 150px rgba(122,125,129,0.4)
}

.people .person:before {
    content: "";
    position: absolute;
    right: -10%;
    top: 0;
    bottom: -60%;
    width: 40%;
    transform: rotate(45deg)
}

.people .person .image {
    text-align: right;
    margin-top: 80px;
    padding: 0 2% 0 0;
    transform: translate3d(0, 0, 0)
}

.people .person .image img {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    max-width: 55%;
    transform: translate3d(0, 25px, 0)
}

.people .person .meta {
    position: absolute;
    left: 8%;
    right: 8%;
    top: 9%;
    bottom: 13%;
    transform: translate3d(0, 0, 0)
}

.people .person .links {
    position: absolute;
    right: 4%;
    top: 7.5%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: bold;
    transform: translate3d(0, 0, 0)
}

.people .person .links a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    margin-left: 30px;
    color: #fff
}

.people .person .links a:hover {
    opacity: 0.5
}

.people .person h4 {
    position: absolute;
    top: 0;
    font-family: "Playfair Display", "Helvetica Neue", helvetica, sans-serif;
    font-weight: bold;
    font-size: 85px;
    word-spacing: 800px;
    width: 100%
}

.people .person p {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    width: 350px
}

.people .person.avatars {
    max-height: inherit
}

.people .person.avatars h4 {
    position: relative;
    top: inherit;
    width: inherit;
    word-spacing: inherit;
    margin-top: 10px;
    margin-bottom: 20px
}

.people .person.avatars p {
    position: relative;
    bottom: inherit;
    width: inherit
}

.people .person.avatars .meta {
    position: relative;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    width: inherit;
    margin: 8% 8% 0 8%
}

.people .person.avatars .image {
    margin: 6% 0 8% 8%;
    text-align: left
}

.people .person.avatars .image .avatar {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    text-align: center;
    margin: 20px 5% 20px 0;
    min-width: 125px
}

.people .person.avatars .image a {
    display: block;
    font-size: 18px
}

.people .person.avatars .image a span {
    display: block;
    margin-top: 10px
}

.people .person.avatars .image br {
    display: none
}

.people .person.avatars .image img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    max-width: inherit;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    transform: translate3d(0, 0, 0)
}

.people .person.empty {
    margin-top: 0;
    margin-bottom: 0
}

.people .person.more {
    margin-bottom: 0;
    font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
    text-transform: uppercase
}

.people .person.more .image {
    border: 2px solid #f2f2f2;
    padding: 115px 0;
    text-align: center
}

.people .person.alexcornell {
    background-color: #ebc0a0;
    background-image: url(../images/people/alexcornell-bg.png)
}

.people .person.alexcornell h4 {
    color: #3e4a56
}

.people .person.alexcornell p {
    color: #686465
}

.people .person.alexcornell:before {
    background-color: rgba(27,62,94,0.03)
}

.people .person.alexmedina {
    background-color: #0f4dba
}

.people .person.alexmedina h4 {
    color: #d4f1c2
}

.people .person.alexmedina p {
    color: #c4d1e8
}

.people .person.alexmedina .links a {
    color: #74a6ff
}

.people .person.alexmedina:before {
    background-color: rgba(181,219,162,0.04)
}

.people .person.allisonhouse {
    background-color: #fd6b76;
    background-image: url(../images/people/allisonhouse-bg.png)
}

.people .person.allisonhouse h4 {
    color: #fae9eb
}

.people .person.allisonhouse p {
    color: #764456
}

.people .person.allisonhouse .links a {
    color: rgba(255,255,255,0.7)
}

.people .person.allisonhouse:before {
    background-color: rgba(39,40,62,0.04)
}

.people .person.ashhuang {
    background-color: #d5d4b8;
    background-image: url(../images/people/ashhuang-bg.png)
}

.people .person.ashhuang h4 {
    color: #e5dadc
}

.people .person.ashhuang p {
    color: rgba(255,255,255,0.6)
}

.people .person.ashhuang .links a {
    color: rgba(255,255,255,0.5)
}

.people .person.ashhuang:before {
    background-color: rgba(220,169,178,0.02)
}

.people .person.bencline {
    background-color: #2c2d4c
}

.people .person.bencline h4 {
    color: #ffe3d2
}

.people .person.bencline p {
    color: #a8a9c0
}

.people .person.bencline .links a {
    color: #767795
}

.people .person.bencline:before {
    background-color: rgba(253,183,134,0.02)
}

.people .person.blakethomas {
    background-color: #baa9b3;
    background-image: url(../images/people/blakethomas-bg.png)
}

.people .person.blakethomas h4 {
    color: #1b4e6e
}

.people .person.blakethomas p {
    color: #504e5d
}

.people .person.blakethomas .links a {
    color: rgba(255,255,255,0.7)
}

.people .person.blakethomas:before {
    background-color: rgba(8,66,103,0.035)
}

.people .person.corinnealexandra {
    background-color: #dfd5d5;
    background-image: url(../images/people/corinnealexandra-bg.png)
}

.people .person.corinnealexandra h4 {
    color: #cf4d7c
}

.people .person.corinnealexandra p {
    color: #7f7272
}

.people .person.corinnealexandra .links a {
    color: #a09898
}

.people .person.corinnealexandra:before {
    background-color: rgba(152,46,82,0.03)
}

.people .person.davidkeegan {
    background-color: #d5d4b8;
    background-image: url(../images/people/davidkeegan-bg.png)
}

.people .person.davidkeegan h4 {
    color: #6753cc
}

.people .person.davidkeegan p {
    color: #65616f
}

.people .person.davidkeegan:before {
    background-color: rgba(67,52,157,0.03)
}

.people .person.gabrielvaldivia {
    background-color: #8b539a;
    background-image: url(../images/people/gabrielvaldivia-bg.png)
}

.people .person.gabrielvaldivia h4 {
    color: #f2e1e5
}

.people .person.gabrielvaldivia p {
    color: #e4c0ec
}

.people .person.gabrielvaldivia .links a {
    color: #321f4a
}

.people .person.gabrielvaldivia:before {
    background-color: rgba(232,182,194,0.04)
}

.people .person.greysonmacalpine {
    background-color: #9dfef5;
    background-image: url(../images/people/greysonmacalpine-bg.png)
}

.people .person.greysonmacalpine h4 {
    color: #3c313a
}

.people .person.greysonmacalpine p {
    color: #4b565a
}

.people .person.greysonmacalpine .links a {
    color: #598382
}

.people .person.greysonmacalpine:before {
    background-color: rgba(69,63,71,0.035)
}

.people .person.jeremygoldberg {
    background-color: #eee398;
    background-image: url(../images/people/jeremygoldberg-bg.png)
}

.people .person.jeremygoldberg h4 {
    color: #7b6056
}

.people .person.jeremygoldberg p {
    color: #6f694a
}

.people .person.jeremygoldberg .links a {
    color: #a9a37c
}

.people .person.jeremygoldberg:before {
    background-color: rgba(129,70,64,0.035)
}

.people .person.luisamancera {
    background-color: #76d39e;
    background-image: url(../images/people/luisamancera-bg.png)
}

.people .person.luisamancera h4 {
    color: #2d3250
}

.people .person.luisamancera p {
    color: #405762
}

.people .person.luisamancera .links a {
    color: #fff
}

.people .person.luisamancera:before {
    background-color: rgba(47,52,82,0.03)
}

.people .person.mattronge {
    background-color: #615640
}

.people .person.mattronge h4 {
    color: #ecd0b9
}

.people .person.mattronge p {
    color: #bbae8f
}

.people .person.mattronge .links a {
    color: #9e947c
}

.people .person.mattronge:before {
    background-color: rgba(254,183,129,0.02)
}

.people .person.rockyroark {
    background-color: #b63f51;
    background-image: url(../images/people/rockyroark-bg.png)
}

.people .person.rockyroark h4 {
    color: #f6e8ce
}

.people .person.rockyroark p {
    color: #efd9c4
}

.people .person.rockyroark .links a {
    color: #e99e93
}

.people .person.rockyroark:before {
    background-color: rgba(239,203,167,0.035)
}

.people .person.sarahdrasner {
    background-color: #5d85b4
}

.people .person.sarahdrasner h4 {
    color: #ece3db
}

.people .person.sarahdrasner p {
    color: rgba(255,255,255,0.8)
}

.people .person.sarahdrasner .links a {
    color: rgba(255,255,255,0.5)
}

.people .person.sarahdrasner:before {
    background-color: rgba(12,83,159,0.04)
}

.people .person.sarahpease {
    background-color: #d3e4ce
}

.people .person.sarahpease h4 {
    color: #4b51dd
}

.people .person.sarahpease p {
    color: #6b7467
}

.people .person.sarahpease .links a {
    color: #94a28e
}

.people .person.sarahpease:before {
    background-color: rgba(69,63,71,0.025)
}

.people .person.tylerfinck {
    background-color: #e88f75;
    background-image: url(../images/people/tylerfinck-bg.png)
}

.people .person.tylerfinck h4 {
    color: #412b4e
}

.people .person.tylerfinck p {
    color: #5e3e3b
}

.people .person.tylerfinck .links a {
    color: #fff
}

.people .person.tylerfinck:before {
    background-color: rgba(20,16,92,0.025)
}

.people .person.tylergalpin {
    background-color: #c0e5dd
}

.people .person.tylergalpin h4 {
    color: #2a776b
}

.people .person.tylergalpin p {
    color: #4e7d74
}

.people .person.tylergalpin .links a {
    color: #4ba292
}

.people .person.tylergalpin:before {
    background-color: rgba(69,63,71,0.025)
}

.people .person.zackeeler {
    background-color: #394537
}

.people .person.zackeeler h4 {
    color: #d5e1d1
}

.people .person.zackeeler p {
    color: #a8b9a3
}

.people .person.zackeeler .links a {
    color: #8a9886
}

.people .person.zackeeler:before {
    background-color: rgba(164,212,150,0.02)
}

.people .person.gopro {
    background-color: #eae6e4
}

.people .person.gopro h4 {
    color: #5c5c6e
}

.people .person.gopro p {
    color: #5c5e70
}

.people .person.gopro .links a,.people .person.gopro .image a {
    color: #868898
}

.people .video {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    vertical-align: top;
    margin: 42px 3%;
    width: 44%;
    max-width: 100%;
    text-align: left
}

.people iframe {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #eee
}

#makersmoment h3 {
    border: none;
    margin: 0 auto;
    padding: 0
}

#makersmoment p {
    margin: 30px auto 40px auto
}

#makersmoment .btn {
    color: #4c45a7;
    background-color: #fff
}

#makersmoment .btn:hover {
    color: #fff;
    background-color: #4dd5b0
}

#joinus {
    max-width: inherit;
    min-height: 300px;
    margin: 100px auto 120px auto;
    background: transparent url(../images/lineart.png) no-repeat center bottom;
    -moz-background-size: 2800px 139px;
    -o-background-size: 2800px 139px;
    -webkit-background-size: 2800px 139px;
    background-size: 2800px 139px
}

#joinus p {
    font-size: 18px;
    margin-bottom: 40px
}

#description {
    text-align: center;
    padding: 140px 0
}

#description .item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    text-align: left;
    width: 37%;
    margin: 0 5%;
    vertical-align: top
}

#description .item h2 {
    font-size: 26px;
    color: #3a3a47;
    margin-bottom: 20px
}

#resort .inner {
    background-position: center -392px
}

#resort a {
    color: #fff
}

#drinknight .inner {
    background-position: center -784px
}

#kickoff .inner {
    background-position: center -1176px
}

#dtparty .inner {
    background-position: center bottom
}

#schedule {
    text-align: center;
    padding: 100px 0 40px 0
}

#schedule h2 {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #3a3a47;
    font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
    text-transform: uppercase
}

#schedule h2:after {
    content: "";
    display: block;
    margin: 8px 20px 0 20px;
    border-bottom: 1px solid #e7e9ea
}

#schedule h3 {
    font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 14px
}

#schedule h5 {
    padding-bottom: 17px;
    font-size: 20px;
    text-align: left;
    font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e9ea
}

#schedule h6 {
    text-transform: none;
    margin-bottom: 4px;
    margin-left: 90px
}

#schedule time {
    float: left;
    width: 90px;
    font-size: 14px;
    margin-top: 10px;
    font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
    text-transform: uppercase;
    color: #a1a6ad
}

#schedule .single time {
    margin-top: 1px
}

#schedule .inner>p {
    margin-bottom: 70px;
    padding: 0 10%
}

#schedule li p {
    font-size: 12px;
    text-transform: none;
    margin-left: 30%
}

#schedule .inner>ul>li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    vertical-align: top;
    width: 27%;
    margin: 0 8% 80px 8%
}

#schedule .inner>ul>li:after {
    position: absolute;
    display: block;
    top: 55px;
    left: 74px;
    width: 2px;
    height: 94%;
    margin-top: -18px;
    content: "";
    background-color: #e7e9ea
}

#schedule .inner>ul>li li {
    text-align: left;
    padding: 25px 0 5px 0;
    color: #3a3a47
}

#schedule .inner>ul>li li:after {
    position: absolute;
    display: block;
    left: 69px;
    width: 12px;
    height: 12px;
    margin-top: -18px;
    content: "";
    background-color: #fff;
    border: 1px solid #4dd5b0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 2
}

#schedule .inner>ul>li li.light {
    color: #a1a6ad
}

#schedule .inner>ul>li li.light:after {
    background-color: #fff;
    border-color: #d6d8d9
}

footer {
    margin: 0 auto;
    padding: 0px 0 25px 0;
    border-top: 1px solid #f2f2f2;
    background: #616161;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
}

footer img {
    fill: #3a3a47
}

footer span {
    display: block;
    margin: 30px 0 0 0
}

footer span.past a {
    position: relative;
    color: #3a3a47
}

footer span.past a:hover {
    color: #4dd5b0
}

footer span.small {
    font-size: 14px
}

#video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    background-color: rgba(2,3,3,0.9);
    z-index: 10
}

#video iframe {
    margin: 5% auto 0 auto;
    max-width: 100%;
    background-color: #000
}

#topvideo>iframe {
    margin: 5% auto;
    max-width: 100%;
    background-color: #000
}

body.ff .shoutout,body.ff .people .person {
    box-shadow: none
}

@media only screen and (max-width: 1200px) {
    header {
        -moz-background-size:auto;
        -o-background-size: auto;
        -webkit-background-size: auto;
        background-size: auto
    }
}

@media only screen and (max-width: 1050px) {
    .shoutout,.people .person {
        box-shadow:none
    }
}

@media only screen and (max-width: 1000px) {
    .people .person h4 {
        font-size:8.5vw
    }
}

@media only screen and (max-width: 800px) {
    #schedule .inner>ul>li {
        width:34%
    }

    .people .video {
        max-width: 600px
    }

    .people .video {
        width: auto
    }

    .people .person h4 {
        word-spacing: inherit
    }

    .people .person .image img {
        margin-right: -10%
    }

    .people .person.avatars .image img {
        margin-right: auto
    }
}

@media only screen and (max-width: 700px) {
    .people .person.avatars .image {
        display:block;
        max-width: inherit;
        margin: 20px auto;
        text-align: center
    }

    .people .person.avatars .image br {
        display: block
    }
}

@media only screen and (max-width: 640px) {
    .people .person .meta p {
        width:60%
    }

    .people .person.avatars .meta p {
        width: inherit
    }

    #comingback {
        font-size: 15px !important
    }

    #joinus {
        min-height: 220px;
        margin: 60px auto 80px auto;
        -moz-background-size: auto 46px;
        -o-background-size: auto 46px;
        -webkit-background-size: auto 46px;
        background-size: auto 46px
    }

    #description {
        padding: 80px 0
    }

    #description .item {
        width: inherit;
        margin-left: 30px;
        margin-right: 30px
    }

    #description .item:first-of-type {
        margin-bottom: 60px
    }

    #schedule .inner>ul>li {
        display: block;
        width: inherit;
        margin-left: 20%;
        margin-right: 20%
    }

    #video>iframe,#topvideo>iframe {
        height: 430px !important
    }
}

@media only screen and (max-width: 600px) {
    .people .person {
        max-height:inherit
    }

    .people .person .links {
        right: inherit;
        left: 10px;
        top: 50px
    }

    .people .person .meta,.people .person .meta p,.people .person .meta h4 {
        position: relative;
        top: inherit;
        right: inherit;
        left: inherit;
        bottom: inherit;
        width: inherit
    }

    .people .person .meta,.people .person.avatars .meta {
        margin: 80px 35px 0 35px
    }

    .people .person .meta h4,.people .person.avatars .meta h4 {
        margin-top: 10px;
        margin-bottom: 20px
    }

    .people .person .image {
        margin-top: 5px;
        padding: 0;
        text-align: center
    }

    .people .person .image img {
        margin: 0 auto;
        transform: translate3d(0, 0, 0)
    }
}

@media only screen and (max-width: 460px) {
    #heading .meta {
        font-size:18px
    }

    .people .person h4 {
        font-size: 36px
    }
}

@media only screen and (max-width: 360px) {
    .shoutout .text h3 {
        font-size:44px
    }

    #heading h2 {
        font-size: 16px
    }

    #heading i {
        display: none
    }

    #heading em {
        display: block
    }

    #play {
        margin-top: 40px;
        margin-bottom: 40px
    }

    .btn.alone {
        margin: 80px auto
    }

    #makersmoment .btn {
        font-size: 16px
    }

    #schedule .inner>ul>li {
        margin-left: 30px;
        margin-right: 30px
    }

    #video>iframe,#topvideo>iframe {
        height: 200px !important
    }

    footer {
        padding: 40px 0 80px 0
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    #joinus {
        background-image: url(../images/lineart2x.png)
    }

    #collage .photos {
        background-image: url(../images/collage2x.jpg);
        background-size: 1800px 500px
    }
}
