* {
    background: #C3C3C3;
    color: #A5EAD7;
}

.header {
	  width: 100%;
    display: table;
    text-align: center;
}

.footer {
	  width: 100%;
    display: table;
    text-align: center;
}

.content {

}
