
img {
    border: 0;
    vertical-align: top;
}
a {
    color: #568da7;
    text-decoration: none;
}
a:hover {
    color: #4369a8;
}
.ssylka a {
    color: #568da7;
    font-size: 12px;
    line-height: 22px;
    display: block;
    height: 100%;
    float: right;
}
.nobr {
    white-space: nowrap !important;
}
.wrap {
    white-space: normal !important;
}
.a-left {
    text-align: left !important;
}
.a-center {
    text-align: center !important;
}
.a-right {
    text-align: right !important;
}
.v-top {
    vertical-align: top;
}
.v-middle {
    vertical-align: middle;
}
.f-left,
.left {
    float: left !important;
}
.f-right,
.right {
    float: right !important;
}
.f-none {
    float: none !important;
}
.f-fix {
    float: left;
    width: 100%;
}
.no-display {
    display: none!important;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-bg {
    background: none !important;
}
.header .por {
    position: relative;
    height: 24px;
    padding-top: 9px;
}
.por-checkout {
    position: relative;
    height: 24px;
    padding-top: 9px;
}
.category-title {
    background: #ffffff;
    font-size: 26px;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    color: #595959;
    padding: 12px 0px 1px 10px;
}

.category, .sub-category {
    text-align: left;
    font-size: 0.8em;
}

.products-grid {
    padding: 0;
}
.products-grid li.item {
    font-size: 14px;
    float: left;
    width: 217px;
    margin-right: 13px;
    margin-bottom: 13px;
    height: 320px;
    background: #FFFFFF;
    z-index: 0;
}
.catalog-category-view .category-products .products-grid li.item {
    width: 235px;
    margin-right: 0;
}
.all-products .products-grid li.item {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    float: none;
    width: 24%;
}
.products-grid .item-inner {
    padding: 19px 18px 0 18px;
    position: relative;
}
.catalog-category-view .category-products .products-grid .item-inner {
    padding: 19px 15px 0 15px;
    width: 195px;
}
.products-grid .item-inner:hover {
    border-top: 1px solid #D2EFE7;
    border-left: 1px solid #D2EFE7;
    border-right: 1px solid #D2EFE7;
    border-bottom: none;
    margin: -1px -1px 0 -1px;
    -moz-box-shadow: 2px 1px 10px 3px rgba(250, 250, 250, 250);
    -webkit-box-shadow: 2px 1px 10px 3px rgba(250, 250, 250, 250);
    box-shadow: 2px 1px 10px 3px rgba(250, 250, 250, 250);
}
div.wish-list .products-grid .item-inner:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.products-grid li.item .decor {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
}
.products-grid .item-inner:hover .decor {
    display: block;
}
.products-grid li.item .decor.top {
    height: 6px;
    background-position: -337px -123px;
    top: 0;
}
.products-grid li.item .decor.bottom {
    height: 7px;
    background-position: -337px -130px;
}
.products-grid li.last {
    margin-right: 0;
}
.products-grid .actions {} .products-grid .product-image {
    display: block;
    text-decoration: none !important;
    position: relative;
    z-index: 0;
    margin-bottom: 5px;
}
.products-grid button.button.btn-black {
    visibility: hidden;
    margin-bottom: 12px;
}
.products-grid .item-inner:hover button.button.btn-black {
    visibility: visible;
}
.products-grid .button.btn-cart.normal {
    width: 75px;
}
.products-grid .button.btn-cart.normal span.incart,
.products-grid .button.btn-cart.normal span.incart:hover {
    margin: 0 0 0 2px;
    width: 8px;
    height: 7px;
}
.products-grid .button.btn-cart.normal .incart span {
    top: -4px;
    left: 7px;
}
.products-grid .product-name {
    margin-bottom: 7px;
}
.products-grid .product-name:hover {
    color: #4369a8;
}
.products-grid .ratings {
    text-align: left;
    line-height: 13px;
    margin: 7px 0;
}
.products-grid .ratings a,
.products-grid .ratings .amount,
.products-list .ratings a,
.products-list .ratings .amount {
    color: #568da7;
}
.products-grid .ratings .discussion {
    text-decoration: none;
}
.products-grid .ratings .icon {
    width: 12px;
    height: 12px;
    background-position: -307px -95px;
    vertical-align: sub;
    margin: 0 1px -1px 0;
}
.products-grid .ratings .add {
    font-size: 12px;
}
.products-grid .ratings .add:hover {
    color: #4369a8;
}
.products-grid .buy-box {
    width: 210px;
    margin: 13px 0 0 0;
}
.catalogsearch-result-index .category-products .products-grid .buy-box,
.catalog-category-view .category-products .products-grid .buy-box {
    width: 196px;
    margin: 11px 0 5px 0px;
}
.products-grid .price-box .sum,
.products-grid .price-box .new_sum {
    font-size: 18px;
}
.products-grid .older {
    display: none;
}
.attributes.por.absolute {
    z-index: 10;
    font: normal 12px Arial, Helvetica, sans-serif;
    display: none;
    position: absolute;
    left: -30px;
    top: 0px;
    height: 0;
}
.attributes.por {
    z-index: 10;
    font: normal 12px Arial, Helvetica, sans-serif;
    display: none;
    position: relative;
    top: -1px;
    height: 0;
    clear: both
}
.attributes .info-popup {
    position: absolute;
    left: -18px;
    top: 0px;
    border-top: none;
    border-left: 1px solid #D2EFE7;
    border-right: 1px solid #D2EFE7;
    border-bottom: 1px solid #D2EFE7;
    margin: 0 -1px 0 -1px;
    -moz-box-shadow: 2px 3px 10px 3px rgba(250, 250, 250, 250);
    -webkit-box-shadow: 2px 3px 10px 3px rgba(250, 250, 250, 250);
    box-shadow: 2px 3px 10px 3px rgba(250, 250, 250, 250);
    padding: 4px 18px 10px 18px;
    position: relative;
    z-index: 0;
    zoom: 1;
    width: 192px;
    background-color: white;
    width: 220px;
}
.catalog-category-view .category-products .attributes .info-popup {
    padding: 4px 15px 10px 15px;
    width: 195px;
    margin: 0 -1px 0 2px;
}
.attributes.absolute .info-popup {
    width: 210px;
    width: 262px;
    position: absolute;
    left: -18px;
    top: 0;
    display: none;
    z-index: 1;
    zoom: 1;
    border: none;
    box-shadow: none;
    background: none;
}
.attributes.absolute .info-popup {
    display: block;
}
.attributes .info-popup .attr-content {
    color: #595959;
    font-size: 12px;
    text-align: left;
    padding: 10px 0 4px 0;
    border-top: 1px solid #f0f0f0;
    max-height: 150px;
    width: 215px;
    overflow: auto;
}
.attributes .info-popup .attr-content p {
    text-align: left;
}
.attr-content .span1 {
    margin: 0;
    padding: 0;
    color: #000000;
}
.attr-content .span2 {
    color: #595959;
}
.attributes .content {
    line-height: 15px;
    width: 200px;
}
.attributes.absolute .content {
    line-height: 15px;
    padding: 3px 14px 6px 14px;
    width: 233px;
}

.products-grid .item-inner:hover .attributes {
    z-index: 100;
}

.products-grid .item-inner:hover .attributes.por {
    z-index: 200;
    display: block;
}
.products-grid .button.btn-cart.red {
    height: 29px;
    margin-right: 17px;
}
.catalog-category-view .category-products .button.btn-cart.red {
    padding: 0 17px;
    margin-top: 1px;
    margin-right: 0;
}
.catalog-category-view .category-products .products-grid button.button.red,
a.button.red {
    border: none;
}
.products-grid .button.btn-cart.red span {
    font-size: 12px;
    margin-top: -1px;
}
.products-grid .button.btn-cart.normal {
    height: 29px;
    width: 75px;
}
.products-grid .sku {
    font-size: 11px;
    color: #929292;
}
.link-compare-wrap {
    padding: 0 0 10px 0;
}
.link-compare-wrap a {
    border-bottom: 1px dashed;
}
.link-compare-wrap a:hover {
    color: #4369a8;
    text-decoration: none;
}
.link-compare-wrap:hover .icon {
    background-position: -368px -89px;
}
.link-compare-wrap .icon {
    background-position: -368px -75px;
    width: 17px;
    margin-bottom: -2px;
    height: 14px;
}
.delivery-period {
    font-size: 12px !important;
    color: #000;
}
.category-products .product-actions .delivery-period,
.products-grid .delivery-period {
    text-align: left;
    height: 17px;
    display: inline-block;
    padding-top: 6px;
}
.category-products .ratings .amount:hover {
    color: #4369a8;
}
.products-grid .delivery-icon {
    position: absolute;
}
.products-grid .delivery-icon {
    display: inline-block;
    margin-top: -1px;
}
.delivery-icon-house {
    width: 19px;
    height: 16px;
    background-position: -323px -73px;
}
.delivery-icon-car {
    width: 20px;
    height: 17px;
    background-position: -344px -73px;
}
.products-grid .grid .delivery-icon-car {
    margin: 0 7px 0 0;
}
.products-grid .grid .productalert {
    text-align: center;
}
.products-grid .grid .out-of-stock {
    margin: 17px 0 10px 0;
}
.products-grid .product-container-all {
    height: 80px;
}
.catalog-category-view .category-products .products-grid .button.btn-cart.normal {
    margin-top: 1px;
    margin-right: 0;
}
.catalog-category-view .category-products .products-grid .product-name {
    font-size: 13px;
}
.catalog-category-view .category-products .products-grid .product-name-container {
    margin-bottom: 6px;
}
.catalog-category-view .category-products .products-grid .products-grid .ratings {
    margin: 6px 0 7px;
}
.products-grid .button.btn-cart.normal {
    margin-right: 10px;
}

.catalog-product-view .wrapper {
    z-index: initial;
    position: initial;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
