@(content: Html = Html(""))
<!DOCTYPE html>
<html>
	<head>
		<title>Cingulata</title>
        <link rel="stylesheet"  media="screen"  href="@routes.Assets.at("stylesheets/editablejs/editable.css")">
				<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
	</head>
	<body>
		<header>
			<section>
				<div class="header">Header</div>
				<div id="json">
						<h1>"Welcome"</h1>
				</div>
			</section>
		</header>
		<main>
			<section class="content">

			</section>
			<section class="content">
				@content
			</section>
		</main>
		<footer>
			<section>
				<span class="footer">Systems</span>
			</section>
		</footer>
		<script src="@routes.Assets.at("javascripts/cng.main.js")" charset="utf-8"></script>
		<script src="@routes.Assets.at("javascripts/editablejs/editable.js")" charset="utf-8"></script>
	</body>
</html>
