@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    font: inherit;
    vertical-align: baseline
}

a {
  text-decoration: none;
}

a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    margin: 0;
    min-height: 100%
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #3F3C46;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

img {
    border: none;
    display: block
}

.logo {
  height: 55px;
}

.auth {
  font-weight: bold;
  position: absolute;
  display: inline-block;
  right: 3em;
  top: 30px;
  width: 130px;
}

#signup {
  display: inline-block;
  color: #3F3C46;
}
#signin {
  display: inline-block;
  float: right;
  color: #3F3C46;
}

section{
  margin-top: 0px;
  padding-top: 0px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 21px 0;
  text-align: left;
  background-color: #A5EAD7;
  z-index: 9;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s
}

.header.over {
  -moz-box-shadow: 0 10px 90px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 10px 90px rgba(0,0,0,0.1);
  box-shadow: 0 10px 90px rgba(0,0,0,0.1)
}

.header #badge {
  float: left;
  margin: 0px 0 0 25px;
  width: 50px;
  height: 46px;
}

.header #badge svg {
  width: 100%;
  height: 100%;
}

.desc {
  background: url(/assets/images/cngmain.jpg) fixed;
  background-size: 100% auto;
  background-color: transparent;
  position: relative;
  max-width: inherit;
  height: 600px;
}
.desc h1 {
  position: absolute;
  font-size: 50px;
  color: white;
  padding: 100px 60px;
  line-height: 0px;
}
.desc h2 {
  position: absolute;
  padding: 400px;
  line-height: 200px;
}

.content {
  max-width: inherit;
  background: #3F3C46;
  height: 1000px;
}

.section-header {
  padding: auto;
}

.section-desc {
  color: #A5EAD7;
}

.section-header h1 {
  position: relative;
  color: white;
  font-size: 1.5em;
  color: white;
  padding-top:50px;
  margin-top: 0px;
}

hr {
  border-color: #A5EAD7;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.side-category {
  float: left;
  padding-top: 15px;
  margin: 20px;

}
li:focus{
  border: none;
}
.btn-category {
  width: 250px;
  padding: 6px 63px;
  color: #3F3C46;
  background-color: #A5EAD7;
  font: inherit;
  border: 1px solid #9DDCCB;
}

.btn-category:hover {
  color: #3F3C46;
  background-color: #B1ECDC;
  border-color: #B1ECDC;
  cursor: pointer;
}

.category-wrapper{
  margin-top: 52px;
  margin-left: auto;
}

.category-wrapper .item-inner{
  float: left;
  display: inline-block;
  position: relative;
  margin-top: 0px;
  margin: 7px 7px;
  background: url(/assets/images/laptop.jpg);
  opacity: 0.6;
  -webkit-background-size:cover;
  width: 205px;
  height: 180px;
  border: 2px solid #A5EAD7;
}

.item-inner span{
  position: relative;
  top: 130px;
  padding-bottom:20px;
}
.item-inner[data-type="image1"] {
  background: url(/assets/images/innovation.jpg);
  -webkit-background-size:cover;
  background-position: right;
}
.item-inner[data-type="image2"] {
  background: url(/assets/images/laptop1.jpg);
  -webkit-background-size:cover;
}
.item-inner[data-type="image3"] {
  background: url(/assets/images/smartphone.jpg);
  -webkit-background-size:cover;
}
.item-inner[data-type="image4"] {
  background: url(/assets/images/iphone.jpg);
  -webkit-background-size:cover;
}
.item-inner[data-type="image5"] {
  background: url(/assets/images/laptop1.jpg);
  -webkit-background-size:cover;
}
.item-inner[data-type="image6"] {
  background: url(/assets/images/tablets.jpg);
  -webkit-background-size:cover;
}
.item-inner[data-type="image7"] {
  background: url(/assets/images/camera.jpg);
  -webkit-background-size:cover;
}
.link{
  color: white;
}
 .item-inner:hover {
  opacity: 1;
}

ul {
  float: left;
  font-size: 1.1em;
  padding: 0px;
}
.content .meta {
    margin: 0;
    padding: 30px 10px;
    font-size: 20px;
    background-color: #f6f6f1;
    line-height: 1.5em;
    z-index: 3;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.content .meta span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    margin: 6px 20px
}

.content .meta span:first-of-type {
    color: #A5EAD7;
}

.content > div.categories {
    margin-top: 100px;
}

#motto {
  color: #A5EAD7;
}

#chartSection {
  background: #3F3C46;
  max-width: inherit;
  padding-top: 10px;
}

#chart {
    margin-top: 3em;
}

footer {
  padding: 30px;
    /*padding: 0px 0 25px 0;*/
    border-top: 1px solid #A5EAD7;
    background: #A5EAD7;

}
.container span {
  margin: 0;
  text-transform: uppercase;
}
a.footerLink {
    text-decoration: none;
    color: #3F3C46;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-size: 12px;
}

a.footerLink:hover {
    color: #0B2F25;
}

a.footerLink:active {
    outline: none;
}

footer img {
    fill: #3a3a47
}



footer .copyright span.past a {
    position: relative;
    color: #3a3a47
}

footer span .copyright .past a:hover {
    color: #4dd5b0
}

footer .copyright span.small {
    font-size: 14px
}
.copyright{
  float: none;
}
@media screen and (max-width:790px) {

  .category-wrapper .item-inner{
    display: none;
  }
  .side-category {
    float: none;
  }
}

@media screen and (max-width:480px) {

  .category-wrapper .item-inner{
    display: none;
  }
}
